
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #FFC67D; /* changed to a orange color */
  --secondary-color: #FF9900; /* changed to a darker orange color */
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #f4eaea;
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
      to right,
      rgba(220, 148, 53, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url("assets/bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo img {
  max-width: 70px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
}

.search {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 2rem;
  transition: 0.3s;
}

.search input {
  width: 100%;
  font-size: 1rem;
  color: var(--primary-color);
  outline: none;
  border: none;
}

.search input::placeholder {
  color: var(--secondary-color);
}

.search span {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.login {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: var(--secondary-color);
}

.login span {
  padding: 5px 8px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
}

.fruit__container {
  position: relative;
  padding: 5rem 0 5rem 5rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

 .bg__img__1 {
  position: absolute;
  top: 0;
  left: 70%;
  transform: translateX(-100%);
  opacity: 0.6;
  z-index: -1;
} 



.socials {
  position: absolute;
  top: 25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials::after {
  position: absolute;
  content: "";
  top: -22rem;
  left: 15px;
  height: 15rem;
  width: 2px;
  background-color: var(--white);
}

.socials span {
  font-size: 2rem;
  color: var(--white);
}

.content h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--white);
}

.content h1 span {
  -webkit-text-stroke: 2px var(--white);
  -webkit-text-fill-color: transparent;
}

.content p {
  max-width: 350px;
  margin-bottom: 2rem;
  line-height: 2.0rem;
  color: var(--white);
}

.content .btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.content .btn:hover {
  background-color: var(--secondary-color);
}

.fruit__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.fruit__card {
  padding: 2rem;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fruit__card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}

.card__content {
  padding: 2rem;
}

.card__content h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.card__content p {
  margin-bottom: 2rem;
  line-height: 1.5rem;
  color: var(--text-dark);
}

.card__content .btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.card__content .btn:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 1200px) {
  .fruit__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .fruit__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .fruit__grid {
    grid-template-columns: 1fr;
  }
}
